<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<style>
  .top a{
    text-decoration: none;
    color: black;
    vertical-align: bottom;
  }
  .top a:hover{
    color: rgb(0, 168, 169);
  }
  .top{
    display: inline-block;
    width: 100%;
    position: relative;
  }
  .nav{
    padding: 15px;
    font-family: 'Open Sans';
  }
  .link{
    position: absolute;
    right: 15px;
  }
  body{
    margin: 0;
  }
  hr{
    border-color: rgb(0, 168, 169);
  }
  footer{
    position: absolute;
    bottom: 0px;
    border-top: solid #008080;
    border-top-width: thin;
    width: 100%;
  }
  footer p{
    font-family: 'Open Sans';
    padding-left: 20px;
  }
  footer a{
    text-decoration: none;
    color: black;
  }
  footer a:hover{
    color: #008080;
  }
</style>
<div class = "top">
  <div class = "nav">
    <a href = "/home" > Project Management System</a>
    <span class = "link">
      <a href = "/home" >Your Projects</a>&nbsp;|&nbsp;
      <a href = "#" >All Projects</a>&nbsp;|&nbsp;
      <a href = "/logout">Logout</a>
    </span>
  </div>
 </div>
 <hr>

 <footer>
   <p>Any errors? Missing Projects? Email <a href = "mailto:rie@highsch.nus.edu.sg">rie@highsch.nus.edu.sg</a></p>
 </footer>
