<!DOCTYPE html>
<html>
  <head>
    <title>Research Portal</title>
    <style>
      h1{
        font-family: 'Open Sans';
      }
      #content{
        width: 90%;
        margin: auto;
      }
      p{
        font-family: 'Open Sans';
        font-size: 20px;
        padding-left: 20px;
      }
      table{
        font-family: 'Open Sans';
        font-size: 20px;
        text-align: left;
      }
      th{
        color: #008080;
      }
      td{
        padding-left: 20px;
        width: 50%;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div id = "content">
      <h1>Report and Poster Submission now Open</h1>
      <table>
        <tr>
          <th>How to use portal?</th>
        </tr>
        <tr>
          <td colspan= "2">
            <ul>
              <li>Go to 'Your Projects'</li>
              <li>Click on the project you want to submit</li>
              <li>The options to submit will be at the bottom</li>
              <li>If there are errors/missing projects, email rie@highsch.nus.edu.sg</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>Report Submission</th>
          <th>Poster Submission</th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Combine your project documents (cover page, abstract, report) into one <b>pdf</b> document</li>
              <li>Click on 'Select Project Docs', select your pdf document and press upload</li>
              <li><b>If you are not ready for grading:</b></li>
              <ul>
                <li>Click on the dropdown and change it to 'Need extension...'</li>
                <li>Upload a <b>pdf</b> of your extension form</li>
              </ul>
              <li>Submit by 7 Feb 2018</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Convert your poster to <b>pdf</b></li>
              <li>Click on 'Select Poster', select your pdf poster and press upload</li>
              <li>Posters submitted by 9 Feb will be printed for free in house</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
